
/* define colors


*/

body{
    /*color: #e36414;*/
    color: #FFFFFF;
    background-color: #020000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


  .from-us{
    margin-left: 25%;
    background-color: #0F4C5C;
    padding: 10px;
  }

  .from-them{
    background-color: #e36414;
    margin-right: 75%;
  }

  .from-us, .from-them{
    padding: 10px;
    width: 25%;
    font-size: 1.5em;
    word-break: break-all;
  }

  .sendMsgErr{
    color: yellow;
  }

  .msgBreak{
    font-size: 1.0em;
    margin-top: 1em;
  }

  .main{
    margin-left: 10%;
  }
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.login button, .login input[type="submit"]{
    margin-left: 1%;
}

.desktopHeader{
  display: none;
}

.draft{
  padding: 1em;
  margin-right: 60%;
  margin-top: 1em;
  border-radius: 5px;
  background-color: #0F4C5C;
}
.draft label{
  display: block;
  margin-top: 1em;
}
.draft textarea{
  vertical-align: top;
  width: 75%;
  max-width: 100%;
  min-width: 100px;
  height: 150px;
}

@media (min-width: 510px) {
    .desktopHeader{
        display: block;
    }
    .mobileHeader{
        display: none;
    }
}

@media (max-width: 510px) {
  .draft{
    margin-right: 1%;
  }
  .from-us{
    margin-left: 42%;
  }
  .from-us, .from-them{
    width: 50%;
  }
  button, input[type="submit"] {
    font-size: 1em;
  }
}

.showUserID{
  margin-left: 75%;
}

.danger{
  background-color: #e36414
}

button, input[type="submit"] {

  border-radius: 8px;
  color: white;
  font-weight: 0;
  padding: 5px;
  background-color: #0F4C5C;
  box-shadow: 1px 1px 20px 0 #000000;

  border: solid #000000 1px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

button, input[type="submit"]:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  border-radius: 5px;
}